<!Doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>VOTE PAGE</title>
  </head>
  <body>
    <h2>VOTE</h2>
    <form action="/result">
      1hour <input type="radio" name="count" value="1"/>
      2hours <input type="radio" name="count" value="2"/>
      3hours <input type="radio" name="count" value="3"/>
      4hours <input type="radio" name="count" value="4"/>
    </form>
  </body>
</html>
